package components

import "github.com/kodehat/portkey/internal/models"

templ PortalPartial(portals []models.Portal) {
	if len(portals) == 0 {
		<span class="text-3xl md:text-4xl lg:text-5xl font-normal md:font-light inline-flex items-center">
			<i>no results</i>
		</span>
	} else {
		for _, portal := range portals {
			@HomePortal(portal)
		}
	}
}
