name: Build and push release Docker images

on:
  release:
    types: [ created ]

jobs:
  docker:
    name: Build and push Docker images
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up QEMU
      uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

    - name: Login to DockerHub
      uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Parse semver
      id: semver_parser 
      uses: booxmedialtd/ws-action-parse-semver@7784200024d6b3fc01253e617ec0168daf603de3 # v1.4.7
      with:
        input_string: '${{ github.ref_name }}'
        version_extractor_regex: 'v(.*)$'

    - name: Build and push Docker images
      uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      with:
        context: .
        platforms: linux/amd64,linux/arm64
        build-args: |
          "VERSION=${{ github.ref_name }}"
        push: true
        tags: |
          codehat/portkey:${{ github.ref_name }}
          codehat/portkey:v${{ steps.semver_parser.outputs.major }}.${{ steps.semver_parser.outputs.minor }}