name: Build and release binaries

on:
  release:
    types: [ created ]

jobs:
  releases-matrix:
    name: Build and release
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [ linux, windows, darwin ]
        goarch: [ amd64, arm64 ]
        go-version: [ '1.25' ]
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Build assets
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: 25
        cache: 'npm'
    - run: echo "Building assets for ${{ github.ref_name }}"
    - run: npm install
    - run: npm run build

    - name: Compile templates
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.go-version }}
        cache: false
    - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: |
          ~/.cache/go-build
          ~/go
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - run: go install github.com/a-h/templ/cmd/templ@v0.3.960 && templ generate

    - name: Build and upload binaries
      uses: wangyoucao577/go-release-action@2aa2977ad6a4534f9179e22bd0ff146a1e1d3466 # v1.52
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        goos: ${{ matrix.goos }}
        goarch: ${{ matrix.goarch }}
        goversion: go.mod
        binary_name: portkey
        pre_command: export CGO_ENABLED=0
        asset_name: "portkey-${{ matrix.goos }}-${{ matrix.goarch }}"
        extra_files: LICENSE.txt README.md
        md5sum: false
        overwrite: true
        build_command: sh build.sh -v "${{ github.ref_name }}"
