name: Run tests

on:
  pull_request:
    branches: [ main, 'feature/**' ]
  push:
    branches: [ main, 'feature/**' ]
    paths-ignore:
    - 'README.md'
    - 'CHANGELOG.md'

jobs:
  test:
    name: Run tests
    strategy:
      matrix:
        go-version: [ '1.25' ]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Setup Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version: ${{ matrix.go-version }}
        cache: false

    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Compile templates and run tests
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: |
          ~/.cache/go-build
          ~/go
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - run: go install github.com/a-h/templ/cmd/templ@v0.3.960 && templ generate
    - run: go test -v ./...
    
    - name: Build assets
      if: startsWith(matrix.os, 'ubuntu') == true
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: 25
        cache: 'npm'
    - if: startsWith(matrix.os, 'ubuntu') == true
      run: npm install
    - if: startsWith(matrix.os, 'ubuntu') == true
      run: npm run build