name: Run tests

on:
  pull_request:
    branches: [ main, 'feature/**' ]
  push:
    branches: [ main, 'feature/**' ]
    paths-ignore:
    - 'README.md'
    - 'CHANGELOG.md'

jobs:
  test:
    name: Run tests
    strategy:
      matrix:
        go-version: [ '1.25' ]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ matrix.go-version }}
        cache: false

    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Compile templates and run tests
      uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
      with:
        path: |
          ~/.cache/go-build
          ~/go
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - run: go install github.com/a-h/templ/cmd/templ@v0.3.960 && templ generate
    - run: go test -v ./...
    
    - name: Build assets
      if: startsWith(matrix.os, 'ubuntu') == true
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 25
        cache: 'npm'
    - if: startsWith(matrix.os, 'ubuntu') == true
      run: npm install
    - if: startsWith(matrix.os, 'ubuntu') == true
      run: npm run build