name: Run tests

on:
  pull_request:
    branches: [ main, 'feature/**' ]
  push:
    branches: [ main, 'feature/**' ]
    paths-ignore:
    - 'README.md'
    - 'CHANGELOG.md'

jobs:
  test:
    name: Run tests
    strategy:
      matrix:
        go-version: [ '1.25' ]
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Setup Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version: ${{ matrix.go-version }}
        cache: false

    - name: Checkout
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Compile templates and run tests
      uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
      with:
        path: |
          ~/.cache/go-build
          ~/go
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - run: go install github.com/a-h/templ/cmd/templ@v0.3.960 && templ generate
    - run: go test -v ./...
    
    - name: Build assets
      if: startsWith(matrix.os, 'ubuntu') == true
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 25
        cache: 'npm'
    - if: startsWith(matrix.os, 'ubuntu') == true
      run: npm install
    - if: startsWith(matrix.os, 'ubuntu') == true
      run: npm run build