name: Update changelog file

on:
  release:
    types: [created]

jobs:
  changelog:
    name: Generate and update changelog
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        # See: https://github.com/orgs/community/discussions/25305#discussioncomment-10728028
        ssh-key: ${{ secrets.REPO_UPDATE_KEY }}
        ref: 'main'
        fetch-depth: 0

    - name: Generate a changelog
      uses: orhun/git-cliff-action@d77b37db2e3f7398432d34b72a12aa3e2ba87e51 # v4.6.0
      with:
        config: cliff.toml
        args: --tag "${{ github.ref_name }}" --exclude-path "CHANGELOG.md"
      env:
        OUTPUT: CHANGELOG.md

    - name: Commit and push changelog
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config user.name 'github-actions[bot]'
        git config user.email 'github-actions[bot]@users.noreply.github.com'
        set +e
        git add CHANGELOG.md
        git commit -m "ci: update changelog"
        git remote set-url origin "https://${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
        git push -u origin main